<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Email</title>
    <style>
        body {
            font-family: Inter, sans-serif;
            margin: 0;
            padding: 0;
        }
        .email-container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .email-header {
            background-color: #1A1F71;
            padding: 20px;
            text-align: center;
            border-radius: 10px 10px 10px 10px;
        }
        .email-header img {
            max-width: 100px;
        }
        .email-body {
            padding: 20px;
        }
        .email-body h1 {
            color: #2B2B2B;
            font-size: 24px;
            text-align: center;
        }
        .email-body .name{
            font-family: Roboto, sans-serif;
            font-weight: 600;
        }
        .email-body p {
            color: #2B2B2B;
            font-size: 16px;
            line-height: 1.6;
        }
        .email-body a {
            color: #1A1F71;
            text-decoration: none;
        }
        .email-footer {
            padding: 20px;
            text-align: center;
            font-size: 14px;
            color: #2B2B2B;
        }
        .email-footer a {
            color: #1A1F71;
            margin: 0 5px;
            text-decoration: none;
        }
        @media screen and (max-width: 600px) {
            .email-body h1 {
                font-size: 20px;
            }
            .email-body p {
                font-size: 14px;
            }
        }
    </style>
</head>
<body>
    <div class="email-container">
        <div class="email-header">
            <img src="https://res.cloudinary.com/dhkblplov/image/upload/v1725457679/pilcrpysfzi63nla2z8y.svg" alt="Bizfides Logo">
        </div>
        <div class="email-body">
            <h1>Welcome !</h1>
            <p class="name">Dear {{firstName}},</p>
            <p>
                You're now part of the Bizfides community! We're thrilled to have you on board.     
             </p>
            <p>
                Thanks for verifying your email address. You can now access our services and start growing your online presence.           
            </p>
            <p>
                Here's a quick start guide to get you started:
            </p>
            <ul>
                <li>Your Dashboard <a href="">hppt//dash://</a></li>
                <li>Contact us via <a href="mailto:bizfidessupport@gmail.com">bizfidessupport@gmail.com</a></li>
            </ul>
            <p>Best regards,<br>The Bizfides Team</p>
        </div>
        <div class="email-footer">
            <a href="#"><img src="https://res.cloudinary.com/dhkblplov/image/upload/v1725457425/f2lkz3lczlpuwi4toejb.svg" alt="Facebook"></a>
            <a href="#"><img src="https://res.cloudinary.com/dhkblplov/image/upload/v1725457343/h2bx7ealhirzxfmeoezf.png" alt="Twitter"></a>
            <a href="#"><img src="https://res.cloudinary.com/dhkblplov/image/upload/v1725457477/ui7he2tnpd0rsjvxuq3h.svg" alt="LinkedIn"></a>
            <a href="#"><img src="https://res.cloudinary.com/dhkblplov/image/upload/v1725457541/ih6av4klgyysdsjw6jkf.svg" alt="Instagram"></a>
            <p>Copyright © 2024</p>
        </div>
    </div>
</body>
</html>
